body{
    background-color: #000e917b;
    font-family: sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    text-align: center;
}
.main{
    background-color: rgb(147, 147, 187);
    padding: 22px;
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.8);
    border-radius: 12px;
    margin: 10px;
    color: rgb(9, 91, 163);
}
input{
    display: block;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    background-color: #000e917b;
    border: none;
    outline: none;
    border-radius: 20px;
    color: aliceblue;
}
button{
    background-color: grey;
    color: white;
    border: none;
    display: block;
    width: 100%;
    padding: 10px;
    margin: 20px;
    font-family: cursive;
    border-radius: 8px;
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.8);
    max-width: 100px;
}