body{
    background-color: #000e917b;
    font-family: sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    text-align: center;
}
.main{
    background-color: rgb(147, 147, 187);
}